form{
    text-align: center;
}

form input, textarea{
    border-radius: 25px;
    background-color: lightpink;
    border: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}

form label{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic';
    font-weight: bold;
}
