/*FONTS*/

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'), url('CenturyGothic.woff') format('woff'), url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.eot');
    src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('CenturyGothic-Bold.woff') format('woff'), url('CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('BigNoodleTitling.eot');
    src: url('BigNoodleTitling.eot?#iefix') format('embedded-opentype'), url('BigNoodleTitling.woff') format('woff'), url('BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/***************************** NAVIGATION ******************************/

.nav-pills {
    background-color: brown;
    width: 100%;
    padding-bottom: -10px;
    font-family: 'BigNoodleTitling';
}

.nav-tabs.nav-justified > li > a {
    margin-bottom: 0px;
}