/*FONTS*/

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic.eot');
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/CenturyGothic.woff') format('woff'), url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic-Bold.eot');
    src: url('/fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/CenturyGothic-Bold.woff') format('woff'), url('/fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/fonts/BigNoodleTitling.eot');
    src: url('/fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'), url('/fonts/BigNoodleTitling.woff') format('woff'), url('/fonts/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/***************************** NAVIGATION ******************************/

.navbar {
    font-family: 'BigNoodleTitling';
    background-color: white;
    border: none;
    color: black;
    font-size: 35px;
}

.navbar a {
    color: black;
}

.navbar-right {
    margin-right: 9%;
    font-size: 25px;
    font-size: 25px;
    text-decoration: none;
    border: none;
}

.navbar-inverse .navbar-text {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    min-width: 150px;
    border-right: 1px solid grey;
    min-width: 10%;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-brand {
    background-color: white;
}

#logo {
    max-height: 60px;
}


/********** search box *************/


/********************** MAIN BACKGROUND ******************/

#mainbackground {
    margin-top: -4%;
}

#div1 {
    position: relative;
}

#div2 {
    z-index: 1;
    position: absolute;
    min-width: 15px;
    min-height: 20px;
    left: 85%;
    top: 7%;
}

.btn-danger {
    font-family: 'BigNoodleTitling';
    color: white;
    font-size: 25px;
    padding: 10px 20px;
}

.btn-danger a {
    text-decoration: none;
    color: white;
}