form{
    text-align: center;
}

form input, textarea{
    border-radius: 25px;
    background-color: lightpink;
    border: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}

form label{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.articlePreview .nature{
    font-family: 'Century Gothic';
    font-size: 18px;
}

.articlePreview h2{
    font-family: "Press Style";
    text-transform: uppercase;
    font-size: 25px;
}

#profile h1{
    font-family: "Press Style";
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
}