/*FONTS*/

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic.eot');
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/CenturyGothic.woff') format('woff'), url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic-Bold.eot');
    src: url('/fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/CenturyGothic-Bold.woff') format('woff'), url('/fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/fonts/BigNoodleTitling.eot');
    src: url('/fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'), url('/fonts/BigNoodleTitling.woff') format('woff'), url('/fonts/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/***************************** NAVIGATION ******************************/

.navbar {
    font-family: 'BigNoodleTitling';
    background-color: white;
    height: 4%;
    border: none;
    color: black;
    font-size: 25px;
}

.navbar a {
    color: black;
}

.navbar-right {
    margin-right: 9%;
    font-size: 25px;
}

.navbar-inverse .navbar-text {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-width: 10%
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: black;
    background-color: transparent;
}

.input[type=text] {
    width: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
    width: 100%;
}


/********************** MAIN BACKGROUND ******************/

#mainbackground {
    margin-top: -4%;
}