/*FONTS*/

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'), url('CenturyGothic.woff') format('woff'), url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.eot');
    src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('CenturyGothic-Bold.woff') format('woff'), url('CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('BigNoodleTitling.eot');
    src: url('BigNoodleTitling.eot?#iefix') format('embedded-opentype'), url('BigNoodleTitling.woff') format('woff'), url('BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Style';
    src: url('/fonts/PressStyle.eot');
    src: url('/fonts/PressStyle.eot?#iefix') format('embedded-opentype'), url('/fonts/PressStyle.woff') format('woff'), url('/fonts/PressStyle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}